#data {
    position: fixed;
    top: 50px
}

.company-header {
    background-color: #00cc81;
    border-radius: 4px;
    /* margin-left: .2px;
    margin-right: .2px; */
}


#table-col {
    height: 300px;
    /* width: 400px; */
    overflow-y: scroll;
    border: 1px solid white;
    border-radius: 5px;
}

#table-wrap {
    height: 300px;
}

#data-col {
    border: 1px white solid;
    border-radius: 5px;
}

#row:hover {
    cursor: pointer;
    background: #1a1a1a
}

.prospectUO {
    color: #4d94ff;
    text-decoration: underline;
}

.data-hidden {
    display: none;
}

