#data {
    position: fixed;
    top: 50px
}

#table-col {
    height: 300px;
    /* width: 400px; */
    overflow-y: scroll;
    /* border: 1px solid white; */
}

#table-wrap {
    height: 300px;
}

#data-col {
    height: 300px;
    border: 1px white solid;
}

#row:hover {
    cursor: pointer;
    background: #1a1a1a
}

.prospectUO {
    color: #4d94ff;
    text-decoration: underline;
}

.data-hidden {
    display: none;
}

