.prospects {
    margin-top: 5px;
}

.image {
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 200px;
}

.parent {
    /* position: absolute;
    top: 70px; */
}

.flow-container {
    
}

#background {
    background: #1a1a1a;
    height: 220px;
    width: 100%;
    min-width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    #widgetLess {
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    #widgetGreater {
        display: none;
    }
}