.prospects {
    margin-top: 5px;
}

.tag-line {
    text-align: center;
}

.image {
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 200px;
}

.login-link {
    color: #1672EB;
}

.parent {
    /* position: absolute;
    top: 70px; */
}

.flow-container {
    
}

#img-background {
    background: #1E1E1E;
    /* height: 200px;
    width: 200px; */
    max-width: 200px;
    max-height: 200px;
    /* min-width: 80%; */
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    background: #1E1E1E;
    height: 250px;
    width: 100%;
    min-width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    #widgetLess {
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    #widgetGreater {
        display: none;
    }
}
