.DD {
  padding-top:100px;
  padding-bottom:200px;
}


.Dashboard {

}



.Home {
  padding-top:100px;
  width: 100%;
  padding-bottom:100px;
}



.About {
  padding-top:100px;
}

.Title {
  padding: 20px;
  background:#383737;
  padding:20px 25px;
  border: none;
  font-size:30px;
  border-radius:6px;
  cursor:pointer;
  color:white;
  font-weight:bold;
}

.Subtitle {
  color: #f7f7f7;
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}
/* 
.Ticker {
  padding: 20px;
  color: #f7f7f7;
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 26px;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.button {
  background:#383737;
  padding:20px 25px;
  border: none;
  font-size:22px;
  border-radius:6px;
  cursor:pointer;
  color:white;
  font-weight:bold;
  transition:0.3s ease all;
  box-shadow:1px 2px 3px rgba(0,0,0,0.3);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

