
body,
#root {
  min-height: 100vh;
  background-color: #161e30;
  color: white;
}

.app__wrapper {
  padding: 100px 0;
}

.container {
  margin: 15px auto;
}

/* Widgets */
.widget__col {
  min-height: 450px;
}

.widget__wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

/* Notes */
#notes-container {
  height: 375px;
}

.ql-editor.ql-blank::before,
.ql-picker-label {
  color: rgba(255,255,255,.75);
}
@media (pointer: coarse) {
  .ql-snow.ql-toolbar button:hover:not(.ql-active),
  .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: rgba(255,255,255,.75);
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: rgba(255,255,255,.75);
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: rgba(255,255,255,.75);
  }
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: rgba(255,255,255,.75);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: rgba(255,255,255,.75);
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: rgba(255,255,255,.75);
}