
body,
#root {
  min-height: 100vh;
  background-color: #161e30;
  color: white;
}

.app__wrapper {
  padding: 100px 0;
}

.container {
  margin: 15px auto;
}

.widget__col {
  min-height: 450px;
}

.widget__wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}